.mdl-mp-bet-place {
  width: 100%;
  height: 100%;

  &__layers {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  &__layer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;

    &:not(.mdl-mp-bet-place__layer_1) {
      position: absolute;
      z-index: 1;
    }
  }

  &__column {
    &_left {
      flex-basis: 14%;

      .mdl-mp-bet-place__money-stack {
        width: 100%;
        height: 33.33%;
        padding-bottom: 0.0625em;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    &_center,
    &_right {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      flex-basis: 35%;
    }
  }

  &__money-stack {
    width: 100%;
    height: 20%;
  }
}
