.mdl-mp-game-area {
  position: relative;
  width: 100%;
  max-width: 41.6875em;
  height: 100%;
  max-height: 23.4375em;
  background-color: #f1f1f1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image 700ms ease-in-out;

  &__bet-place {
    position: absolute;
    bottom: 28.9%;
    left: 21.4%;
    width: 12.5%;
    height: 2.15em;
  }

  &_view-top-betting {
    background-image: url("./images/mdl-poc-top-view_betting.jpg");
  }

  &_view-top-drop {
    background-image: url("./images/mdl-poc-top-view_drop.jpg");
    transition: background-image 400ms ease-in-out;
  }

  &_view-front {
    background-image: url("./images/mdl-poc-front-view.jpg");
  }
}
