.mdl-mp-game-area {
  position: relative;
  width: 100%;
  max-width: 41.6875em;
  height: 100%;
  max-height: 23.4375em;
  background-color: #f1f1f1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image 700ms ease-in-out;

  &__bet-place {
    position: absolute;
  }

  &_view-top-betting,
  &_view-top-drop {
    background-image: url("./images/mdl-poc-top-view_betting.jpg");

    .mdl-mp-game-area__bet-place {
      //bottom: 17.15%;
      left: 20%;
      //width: 12.4%;
      height: 4em;

      bottom: 16.2%;
      width: 12.7%;
    }

    .mdl-mp-bet-place__layers {
      perspective: 4.375em; // 70px
    }

    .mdl-mp-bet-place__layer {
      $translateX: 5px;
      $translateY: -2px;

      border-radius: 0 0.6875em 0.6875em 0;

      &_1 {
        //background-color: rgba(#99f10a, 0.9);
      }

      @for $i from 1 through 13 {
        &_#{$i} {
          transform: rotateX(5deg) skew(-11deg) translate(#{$translateX}, #{$translateY});
        }

        $translateX: $translateX - 1.8;
        $translateY: $translateY - 1.5px;
      }
    }

    .mdl-mp-money-stack {
      background-image: url("./images/money-stack-top-view_horizontal.svg");

      &_left {
        background-image: url("./images/money-stack-top-view_vertical.svg");
      }
    }
  }

  &_view-top-betting {
    .mdl-mp-money-stack {
      @for $i from 1 through 13 {
        &_#{$i} {
          animation-name: appear-stack;
        }
      }
    }
  }

  &_view-top-drop {
    background-image: url("./images/mdl-poc-top-view_drop.jpg");
    transition: background-image 400ms ease-in-out;

    .mdl-mp-bet-place__layer {
      overflow: hidden;
    }

    .mdl-mp-money-stack {
      opacity: 1;
      transform: translate(0, 0) scale(1);
      animation-delay: 1s;

      //@for $i from 1 through 13 {
      //  &_#{$i} {
      //    opacity: 1;
      //    transform: translate(0, 0) scale(1);
      //    animation-name: drop-stack;
      //    animation-delay: 1s;
      //  }
      //}

      @for $i from 1 through 14 {
        @if ($i % 2 != 0) {
          $stack-indent-40: (random(5) - 5) + deg;
          $stack-indent-60: (random(5) - 10) + deg;
          $stack-indent-80: (random(5) - 15) + deg;
          $stack-indent-100: (random(5) - 20) + deg;

          &_#{$i} {
            animation-name: drop-stack_#{$i};

            @keyframes drop-stack_#{$i} {
              0% {
                opacity: 1;
                transform: translate(0, 0) scale(1);
              }

              20% {
                transform: translate(3px, 10px) scale(0.95) rotate3d(0, 1, 1, 0);
              }

              40% {
                transform: translate(20px, 17px) scale(0.8794) rotate3d(0, 1, 1, #{$stack-indent-40});
              }

              60% {
                transform: translate(30px, 23px) scale(0.8088) rotate3d(0, 1, 1, #{$stack-indent-60});
              }

              80% {
                opacity: 0.8;
                transform: translate(40px, 27px) scale(0.7382) rotate3d(0, 1, 1, #{$stack-indent-80});
              }

              88% {
                opacity: 1;
              }

              100% {
                opacity: 0;
                transform: translate(50px, 35px) scale(0.6675) rotate3d(0, 1, 1, #{$stack-indent-100});
              }
            }
          }
        } @else {
          $stack-indent-40: random(5) + deg;
          $stack-indent-60: (random(5) + 5) + deg;
          $stack-indent-80: (random(10) + 15) + deg;
          $stack-indent-100: (random(15) + 20) + deg;

          &_#{$i} {
            animation-name: drop-stack_#{$i};

            @keyframes drop-stack_#{$i} {
              0% {
                opacity: 1;
                transform: translate(0, 0) scale(1);
              }

              20% {
                transform: translate(3px, 10px) scale(0.95) rotate3d(0, 1, 1, 0);
              }

              40% {
                transform: translate(20px, 17px) scale(0.8794) rotate3d(0, 1, 1, #{$stack-indent-40});
              }

              60% {
                transform: translate(30px, 23px) scale(0.8088) rotate3d(0, 1, 1, #{$stack-indent-60});
              }

              80% {
                opacity: 0.8;
                transform: translate(40px, 27px) scale(0.7382) rotate3d(0, 1, 1, #{$stack-indent-80});
              }

              88% {
                opacity: 1;
              }

              100% {
                opacity: 0;
                transform: translate(50px, 35px) scale(0.6675) rotate3d(0, 1, 1, #{$stack-indent-100});
              }
            }
          }
        }
      }
    }
  }

  &_view-front {
    background-image: url("./images/mdl-poc-front-view.jpg");

    .mdl-mp-game-area__bet-place {
      bottom: 29.4%;
      left: 21.3%;
      width: 11.3%;
      height: 1.9em;
    }

    .mdl-mp-bet-place__layers {
      //perspective: 4.375em; // 70px
    }

    .mdl-mp-bet-place__layer {
      $translateX: 9px;
      $translateY: 0;

      border-radius: 0.4375em 0.5625em 0.5625em 0.5625em;

      &_1 {
        //background-color: rgba(#99f10a, 0.9);
      }

      @for $i from 1 through 13 {
        &_#{$i} {
          transform: rotateX(10deg) skew(-23deg) translate(#{$translateX}, #{$translateY});
        }

        $translateX: $translateX - 1.4;
        $translateY: $translateY - 3.5px;
      }
    }

    .mdl-mp-money-stack {
      &_left {
        background-image: url("./images/money-stack-front-view_vertical.svg");
      }

      &_center,
      &_right {
        background-image: url("./images/money-stack-front-view_horizontal.svg");
      }
    }
  }
}

@keyframes disappear-stack {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
