.mdl-mp-money-stack {
  width: 100%;
  height: 100%;
  background-color: #c7c7c7;
  border: 0.0625em solid #a7a7a7;
  border-radius: 0.125em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40%;
}